@model SSO.Application.Client.Queries.GetClientCreateViewModel.ClientCreateViewModel

@{
    ViewData["Title"] = "Create";
}

@section scripts{

    <script type="text/javascript" src="~/js/client.js"></script>
}

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <h1>Create</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        @await Html.PartialAsync("_ValidationSummary")
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <input asp-for="Command.IdSuffix" type="hidden" />
                    <input asp-for="Command.Type" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label asp-for="Command.Id" class="font-weight-bold"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Command.Id" class="form-control" aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">@Model.Command.IdSuffix</span>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-md btn-outline-secondary m-0 px-3 py-2 z-depth-0 waves-effect" type="button" id="btnCopyClientId">Copy</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Command.Name" class="font-weight-bold"></label>
                        <input asp-for="Command.Name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="file" class="font-weight-bold">Logo</label>

                        <div class="custom-file">
                            <input asp-for="Command.LogoFile" type="file" class="custom-file-input">
                            <label class="custom-file-label" for="customFile">Choose logo</label>
                        </div>

                        <img id="logoPreview" src="#" alt="logo" width="80" style="margin-top:10px;" class="img-thumbnail d-none" />
                    </div>

                    <label asp-for="Command.Secret" class="font-weight-bold"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Command.Secret" class="form-control" value="@(Guid.NewGuid().ToString())" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-md btn-outline-secondary m-0 px-3 py-2 z-depth-0 waves-effect" type="button" id="btnCopyClientSecret" data-clipboard-target="#Command_Secret">Copy</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" asp-for="Command.Enabled" class="custom-control-input" />
                            <label asp-for="Command.Enabled" class="custom-control-label">Enabled</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Command.SelectedIdentityResources" class="font-weight-bold"></label>
                        <br />
                        @foreach (var item in Model.IdentityResources)
                        {
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" name="Command.SelectedIdentityResources" class="custom-control-input" id="defaultInline1_@item" value="@item" @(Model.Command.SelectedIdentityResources.Contains(item) ? "checked" : "")>
                                <label class="custom-control-label" for="defaultInline1_@item">@item</label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Command.SelectedApiResources" class="font-weight-bold"></label>
                        <br />
                        @foreach (var item in Model.ApiResources)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="Command.SelectedApiResources" class="custom-control-input" id="defaultUnchecked_@item" value="@item" @(Model.Command.SelectedApiResources.Contains(item) ? "checked" : "")>
                                <label class="custom-control-label" for="defaultUnchecked_@item">@item</label>
                            </div>
                        }
                    </div>
                    @if (Model.Command.Type == 1)
                    {
                        <div class="form-group">
                            <label asp-for="Command.AllowedGrantTypes" class="font-weight-bold"></label>
                            <select asp-for="Command.AllowedGrantTypes" class="form-control">
                                <option value="implicit">implicit (Single Page App)</option>
                                <option value="hybrid">hybrid (Server Side App)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" asp-for="Command.RequireClientSecret" class="custom-control-input" />
                                <label asp-for="Command.RequireClientSecret" class="custom-control-label">RequireClientSecret</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.AllowedCorsOrigin" class="font-weight-bold"></label>
                            <input asp-for="Command.AllowedCorsOrigin" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.PostLogoutRedirectUri" class="font-weight-bold"></label>
                            <input asp-for="Command.PostLogoutRedirectUri" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.RedirectUri" class="font-weight-bold"></label>
                            <input asp-for="Command.RedirectUri" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" asp-for="Command.RequireConsent" class="custom-control-input" />
                                <label asp-for="Command.RequireConsent" class="custom-control-label">RequireConsent</label>
                            </div>
                        </div>
                    }
                    else if (Model.Command.Type == 2)
                    {
                        <div class="form-group">
                            <label asp-for="Command.AllowedGrantTypes" class="font-weight-bold"></label>
                            <select asp-for="Command.AllowedGrantTypes" class="form-control">
                                <option value="client_credentials">client_credentials (API)</option>
                            </select>
                        </div>
                    }
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

                <a asp-area="" asp-controller="Client" asp-action="Index">Back to list</a>
            </div>
        </div>
    </div>
</div>