@model SSO.Application.Client.Queries.GetClientCreateViewModel.ClientCreateViewModel

@{
    ViewData["Title"] = "Create";
}

@section scripts{

    <script type="text/javascript" src="~/js/client.js"></script>
}

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <h1>Create</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        @await Html.PartialAsync("_ValidationSummary")
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <input asp-for="Command.IdSuffix" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label asp-for="Command.Id" class="font-weight-bold"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Command.Id" class="form-control" aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">@Model.Command.IdSuffix</span>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btnCopyClientId">Copy</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Command.Name" class="font-weight-bold"></label>
                        <input asp-for="Command.Name" class="form-control" />
                    </div>
                    
                    <div class="form-group">
                        <label for="file" class="font-weight-bold">Logo</label>

                        <div class="custom-file">
                            <input asp-for="Command.LogoFile" type="file" class="custom-file-input">
                            <label class="custom-file-label" for="customFile">Choose logo</label>
                        </div>

                        <img id="logoPreview" src="#" alt="logo" width="80" style="margin-top:10px;" class="img-thumbnail d-none" />
                    </div>

                    <label asp-for="Command.Secret" class="font-weight-bold"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Command.Secret" class="form-control" value="@(Guid.NewGuid().ToString())" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btnCopyClientSecret" data-clipboard-target="#Command_Secret">Copy</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox font-weight-bold">
                            <label>
                                <input asp-for="Command.Enabled" /> @Html.DisplayNameFor(model => model.Command.Enabled)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Command.AllowedGrantTypes" class="font-weight-bold"></label>
                        <select asp-for="Command.AllowedGrantTypes" class="form-control">
                            <option value="implicit">implicit</option>
                            <option value="client_credentials">client_credentials</option>
                        </select>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary @(Model.Command.Type == 1 || Model.Command.Type == 0 ? "active" : "")">
                                    <input name="Command.Type" id="Command_Type" type="radio" value="1" autocomplete="off" @(Model.Command.Type == 1 ? "checked" : "")> UI
                                </label>
                                <label class="btn btn-secondary @(Model.Command.Type == 2 ? "active" : "")">
                                    <input name="Command.Type" id="Command_Type" type="radio" value="2" autocomplete="off" @(Model.Command.Type == 2 ? "checked" : "")> API
                                </label>
                            </div>
                            <ul class="nav nav-tabs" id="typeTab" role="tablist" style="display:none">
                                <li class="nav-item">
                                    <a class="nav-link" id="ui-tab" data-toggle="tab" href="#ui" role="tab" aria-controls="ui" aria-selected="false">UI</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="api-tab" data-toggle="tab" href="#api" role="tab" aria-controls="api" aria-selected="false">API</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane @(Model.Command.Type == 1 || Model.Command.Type == 0 ? "active" : "")" id="ui" role="tabpanel" aria-labelledby="ui-tab">
                                    <div class="form-group">
                                        <label asp-for="Command.AllowedCorsOrigin" class="font-weight-bold"></label>
                                        <input asp-for="Command.AllowedCorsOrigin" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Command.PostLogoutRedirectUri" class="font-weight-bold"></label>
                                        <input asp-for="Command.PostLogoutRedirectUri" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Command.RedirectUri" class="font-weight-bold"></label>
                                        <input asp-for="Command.RedirectUri" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox font-weight-bold">
                                            <label>
                                                <input asp-for="Command.RequireConsent" /> @Html.DisplayNameFor(model => model.Command.RequireConsent)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Command.SelectedIdentityResources" class="font-weight-bold"></label>
                                        <br />
                                        @foreach (var item in Model.IdentityResources)
                                        {
                                            <input type="checkbox" name="Command.SelectedIdentityResources" value="@item" class='checkbox' />
                                            @item
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane @(Model.Command.Type == 2 ? "active" : "")" id="api" role="tabpanel" aria-labelledby="api-tab">
                                    <div class="form-group">
                                        <label asp-for="Command.SelectedApiResources" class="font-weight-bold"></label>
                                        <br />
                                        @foreach (var item in Model.ApiResources)
                                        {
                                            <input type="checkbox" name="Command.SelectedApiResources" value="@item" class='checkbox' />
                                            @item
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

                <a asp-area="" asp-controller="Client" asp-action="Index">Back to list</a>
            </div>
        </div>
    </div>
</div>