@model IEnumerable<SSO.Application.IdentityResource.Queries.GetIdentityResourceList.IdentityResourceListItem>

@{
    ViewData["Title"] = "Identity Resources";
}

@section scripts{
    <script type="text/javascript" src="~/js/global.js"></script>
}

<div class="row">
    <div class="col-12 mb-3">
        <h2>Identity Resources</h2>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a asp-area="" asp-controller="IdentityResource" asp-action="Create" class="btn btn-outline-primary">Create</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Enabled</th>
                        <th>Required</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var apiResource in Model)
                    {
                        <tr>
                            <td>@apiResource.Name</td>
                            <td>@apiResource.DisplayName</td>
                            <td>@apiResource.Description</td>
                            <td>@apiResource.Enabled</td>
                            <td>@apiResource.Required</td>
                            <td class="text-right">
                                <a asp-area="" asp-controller="IdentityResource" asp-action="Edit" asp-route-name="@apiResource.Name" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a asp-area="" asp-controller="IdentityResource" asp-action="Delete" asp-route-name="@apiResource.Name" data-remove="true" class="btn btn-sm btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_RemoveConfirmModal" />