@model SSO.Application.Consent.Queries.GetConsentDetail.ScopeDetail

<li class="list-group-item">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" name="ScopesConsented" id="scopes_@Model.Name" value="@Model.Name" checked="@Model.Checked" disabled="@Model.Required" class="custom-control-input" />
        <label class="custom-control-label">@Model.DisplayName</label>
    </div>
    @if (Model.Required)
    {
        <input type="hidden" name="ScopesConsented" value="@Model.Name" />
    }
    @if (Model.Emphasize)
    {
        <span class="glyphicon glyphicon-exclamation-sign"></span>
    }
    @if (Model.Required)
    {
        <span><em>(required)</em></span>
    }
    @if (Model.Description != null)
    {
        <div class="consent-description">
            <label for="scopes_@Model.Name">@Model.Description</label>
        </div>
    }
</li>